* {
  margin: 0;
  padding: 0;
  font-family: "Pacifico", cursive, sans-serif;
}

body {
  min-height: 100vh;
  background-color: aquamarine;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body, #button-container {
}

#container {
  border-radius: 30px;
  background-color: rgb(221, 92, 75);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 90vh;
  min-width: 100vh;
}

h1 {
  font-size: 3.5rem;
}

#second-container {
  border: 1px solid gray;
  min-height: 70vh;
  background-color: white;
}

#second-container, #button-container {
  min-width: 80vh;
}

#button-container, .left-button-container, .right-button-container {
  /* border: 1px solid red; */
  display: flex;
}
#button-container {
  justify-content: space-between;
  margin-bottom: 20px;
}
#button-container .left-button-container {
  /* border: 1px solid blue; */
  min-width: 40%;
  justify-content: flex-start;
  gap: 20px;
}
#button-container button {
  min-width: 5rem;
  color: rgb(221, 92, 75);
  font-size: 1rem;
  border-radius: 30px;
} 
#button-container button:hover {
  background-color: lightgray;
} 
#button-container .right-button-container {
  justify-content: flex-end;
  gap: 20px;
}


